Flask==2.3.3
pymongo==4.5.1
tensorflow==2.14.0
torch==2.1.0
clip-anytorch==1.0.0
flask-cors==3.0.10
qrcode==7.4
opencv-python==4.8.0
python-dotenv==1.0.0
gunicorn
pillow
PyYAML
scikit-learn
scipy
urllib3==2.5.0
Werkzeug==3.1.3



