Flask
pymongo
tensorflow
torch
clip-anytorch
flask-cors
faiss-cpu
qrcode
opencv-python
python-dotenv
gunicorn
pillow
PyYAML
scikit-learn
scipy
urllib3
Werkzeug
transformers==4.42.4
tokenizers==0.19.1








