blinker
certifi
charset-normalizer
click
colorama
dnspython
faiss-cpu
filelock
Flask
flask-cors
fsspec
gunicorn
huggingface-hub
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
numpy
packaging
pillow
pymongo
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers==4.56.2
typing_extensions==4.15.0
urllib3==2.5.0
Werkzeug==3.1.3

